<div class="container">
<span class="text">
  USING GOOGLE MAPS ON ANGULAR WITH MARKER UPDATABLE USING GOOGLE MAPS ON ANGULAR WITH MARKER UPDATABLE 
</span>

  <div class="map-container">
    <google-map width="100%" height="100%" [zoom]="mapZoom" [center]="mapCenter" [options]="mapOptions"
      (mapRightclick)="updateMarker($event)" (mapDblclick)="updateMarker($event)">
      <map-marker [position]="mapCenter" [options]="markerOptions" (mapDragend)="updateMarker($event)">
      </map-marker>
    </google-map>
  </div>

</div>